@font-face {
  font-family: "Halcyon Regular";
  src: local("Halcyon Regular"),
    url("./public/Halcyon/Halcyon-Regular.otf") format("opentype");
  /* other formats include: 'woff2', 'truetype, 'opentype',
                          'embedded-opentype', and 'svg' */
}

html {
  background: white;
}
.headerContainer {
  display: flex;
  background-color: #f0f7fa;
  position: relative;
  justify-content: space-between;
  width: 100vw;
}
.childClass_1 {
  top: 50%;
  left: 7%;
  position: absolute;
  color: white;
  font-size: 1.5vw;
  transform: translate(-50%, -50%);
  font: "Halcyon Regular";
  /* font-family: 'Halcyon Regular'; */
}
.childClass_2 {
  display: flex;
  position: relative;
  align-items: center;
  padding-top: 1vh;
}
.message {
  top: 68vh;
  position: absolute;
  left: 10vw;
  width: 80vw;
  word-wrap: break-word;
  font: "Halcyon Regular";
  font-family: "Halcyon Regular";
  font-size: "1.5vw";
  color: #e4626d;
}
.img {
  cursor: pointer;
  width: 55px;
  height: 55px;
}
.error {
  display: none;
  position: absolute;
  right: 4vw;
  transform: translate(-50%, -50%);
  cursor: pointer;
}
.error .hoverImg {
  display: none;
  width: 4vw;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 58%;
  left: 50%;
  z-index: 99;
}
.error:hover .hoverImg {
  display: block;
}
.upload {
  position: absolute;
  left: 94vw;
  top: 85vh;
  cursor: pointer;
  height: 10%;
}

.back {
  position: absolute;
  left: 2vw;
  top: 86vh;
  cursor: pointer;
  height: 10%;
}

.erase {
  position: absolute;
  left: 94vw;
  top: 14vh;
  cursor: pointer;
  height: 10%;
  z-index: 100;
}

.helpscreen {
  position: absolute;
  top: 5%;
  right: 12.5%;
  width: 75%;
  height: 90%;
}

.popup {
  border-radius: 10vh;
  display: none;
  position: fixed;
  z-index: 100000000000;
  right: 1.5%;
  top: 1.5%;
  width: 96%;
  height: 96%;
  background-color: rgba(255, 255, 255, 0.5);
}

.leftArrow {
  width: 8%;
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.rightArrow {
  width: 8%;
  z-index: 1;
  position: absolute;
  top: 50%;
  right: -2%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

.closePopup {
  cursor: pointer;
  position: absolute;
  right: 13%;
  top: 15%;
  z-index: 5;
  transform: translate(-50%, -50%);
  height: 10%;
}

.text {
  position: absolute;
  z-index: 6;
  background-color: white;
  width: 15%;
  border-radius: 15px;
  word-wrap: break-word;
  padding: 5px 5px;
  font: "Halcyon Regular";
  font-family: "Halcyon Regular";
  transform: translate(-50%, -50%);
}
